spark.hadoop.javax.jdo.option.ConnectionURL jdbc:sqlserver://<your-sql-server-name>.database.windows.net:1433;database=<your-sql-database-name>;user=<your-sql-server-username>@<your-sql-server-name>;password=<your-sql-server-password>;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
spark.hadoop.javax.jdo.option.ConnectionUserName <your-sql-server-username>
spark.hadoop.javax.jdo.option.ConnectionPassword <your-sql-server-password>
spark.hadoop.javax.jdo.option.ConnectionDriverName com.microsoft.sqlserver.jdbc.SQLServerDriver
spark.sql.hive.metastore.version 1.2.1
spark.sql.hive.metastore.jars builtin
datanucleus.autoCreateSchema true
datanucleus.fixedDatastore false